.navbar {
margin-bottom: 0;
background-color: blueviolet;
position: relative;
height: 40px;

}

.container {
  max-width: 300px;
  margin: 0 auto;
  padding-top:  10px;
  justify-content: space-between;
  align-items: centre;
  height: 100%;
}

.navbar-nav{
display: flex;
justify-content: space-between;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.isActive{
    font-size: 16px;
    font-weight: 400;
    color:white ;
    text-decoration: none;
  }